@model List<ProjetPokemon.Data.Models.Trainer>
@{
    ViewBag.Title = "Index";
    ViewBag.SousTitre = "This is Home Controller";
}
@section menuPage
{
    <a href="/Home/Index">Home</a>
    <a href="/Trainer/Index">Trainers</a>
    <a href="/Pokemon/Index">Pokemons</a>
    <a href="/PokeCenter/Index">PokeCenter</a>
    


}
<div>
    some table goes here
</div>
@section footerdeLaPage
{
    <div>Le Footer</div>
}
