@model List<ProjetPokemon.Data.Models.Trainer>
@{
    ViewBag.Title = "Index";
    ViewBag.SousTitre = "This is Home Controller";
}
@section menuPage
{
    <a href="/Trainer/Index">Liste des trainers</a>

    <a href="/Home/Index">Home</a>
    <a href="/Pokemon/Index">Liste des Pokemons</a>

}
<div>
some table goes here
</div>
@section footerdeLaPage
{
    <div>Le Footer</div>
}
