@model ProjetPokemon.Data.Models.Pokemon
@{
    ViewBag.Title = "Details";
    ViewBag.SousTitre ="Détails du pokemon " + Model.Name;
}

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Espèce</th>
            <th>Nom</th>
            <th>Type</th>

        </tr>
  
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Species</td>
                <td>@Model.Name</td>
                <td>@Model.ElementType</td>

            </tr>
        
    </table>
</div>
@section footerdeLaPage
{
    <div><a href="/Pokemon/Index">Retour à la liste de Pokémons</a></div>
}
