@model ProjetPokemon.Data.Models.Pokemon
@{
    ViewBag.Title = "Details";
    ViewBag.SousTitre = "Details pkmn ";
}
@section menuPage
{


}
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Nickname</th>
            <th>Type</th>

        </tr>
  
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Species</td>
                <td>@Model.Name</td>
                <td>@Model.ElementType</td>

            </tr>
        
    </table>
</div>
@section footerdeLaPage
{
    <div>Le Footer</div>
}
