@model IEnumerable<ProjetPokemon.Data.Models.Pokemon>
@{
    ViewBag.Title = "Index Pokemon";
    ViewBag.SousTitre = "Pokémons";
}
@section menuPage
{
    <a href="/Pokemon/Index">Liste des Pokémons</a>
    <a href="/Pokemon/Create">Ajouter un Pokemon</a>
    <a href="/Pokemon/Delete">Ajouter un Pokemon</a>
    <a href="/Pokemon/Details">Details Pokemon</a>

}
<div>
    <table>
        <tr>
            <th>Pokemon</th>
            <th>Trainer</th>
        </tr>
        @foreach (var pkmn in Model)
        {
    <tr>
        <td>@pkmn.Name</td>
        <td>Trainer 1</td>

        <td>
            <a href="/Pokemon/Details/@pkmn.Id">Détailler</a>
            <a href="/Pokemon/Edit/@pkmn.Id">Modifier</a>
            <a href="/Pokemon/Delete/@pkmn.Id">Supprimer</a>
        </td>
    </tr>
        }
    </table>
</div>
@section footerdeLaPage
{
    <div>Le Footer</div>
}
