@model ProjetPokemon.Data.Models.Trainer
@{
    ViewBag.Title = "Index";
    ViewBag.SousTitre = "Detail Trainer";
}
@section menuPage
{
    <a href="/Trainer/Index">Liste des trainers</a>
    <a href="/Trainer/Create">Ajouter un trainers</a>
    
}
<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Model.Nom</td>
                <td> @Model.Region</td>
            </tr>
        </tbody>
    </table>
</div>
@section footerdeLaPage
{
    <div>Le Footer</div>
}
